name: release

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/depshubhq/mcp:${{ github.ref_name }}
            ghcr.io/depshubhq/mcp:latest

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment: production
    permissions:
      packages: read
      contents: read
    steps:
      - name: Authenticate to Google Cloud
        id: auth
        uses: google-github-actions/auth@v2
        with:
          token_format: access_token
          workload_identity_provider: ${{secrets.WORKLOAD_IDENTITY_PROVIDER_ID}}
          service_account: ${{ secrets.SERVICE_ACCOUNT }}

      - name: Deploy on Cloud Run
        uses: google-github-actions/deploy-cloudrun@v2
        with:
          service: mcp-service
          image: ghcr.io/depshubhq/mcp:${{ github.ref_name }}
          region: us-central1
